.book {
    background-color: forestgreen;
    color: lightskyblue;
    font-family: sans-serif;
    margin: 10px 20px;
    padding: 20px;
    border-color: lightskyblue;
    border-style: solid;
    border-radius: 30px;
}

button {
    border-radius: 5px;
}

.book button {
    margin-right: 10px;
}

#book-form {
    margin: 20px;
    padding: 10px;
}

#book-form div {
    margin: 10px 0px;
}

#book-form label {
    display: inline-block;
    width: 100px;
}

